global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend myfrontend
  bind :80
  default_backend webservers

backend webservers
  server s1 "$FRONTEND_SERVERS":3000 check
